---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;700&family=Varela+Round&display=swap');

:root {
  --container-width: 1000px;
  --nav-width: 300px;

  --font-size: 16pt;
  --font-size-small: 14pt;

  --spacing: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-8: 64px;

  --main-color: #f76c6c;
  --light-color: #fbfbfb;
  --secondary-color: #FFD64F;
}

* {
  box-sizing: border-box;
}

:is(h1,h2,h3,h4,h5,h6) {
  font-family: 'Varela Round', sans-serif;
  margin-top: var(--spacing-4);
}

header h1 {
  font-family: 'Varela Round', sans-serif;
  margin-top: var(--spacing);
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: var(--font-size);
  line-height: 150%;
}

code {
  font-size: var(--font-size-small);
}

li > p {
  margin-bottom: 0;
}

header {
  background: none;
  background-color:var(--main-color);
  padding: var(--spacing-4);
  min-height: 0;
}

#banner #logo {
  position: initial;
  right: initial;
  top: initial;
  background: none;
  background-size: cover;
  background-image: url(../images/logo.png);
  z-index: 2;
}

#banner .fork {
  display: none;
}

#banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
}

#banner::before {
  content: 'Workshop';
  font-variant: small-caps;
  font-size: 1.3em;
  margin-left: var(--spacing-2);
  color: var(--light-color);
  font-weight: bold;
}

nav {
  margin-left: 0;
  left: 0;
  width: var(--nav-width);
}

.wrapper {
  margin-left: calc(var(--nav-width) + var(--spacing-4));
  width: calc(100% - var(--nav-width) - var(--spacing-8))
}

.wrapper > section {
  width: auto;
  padding: var(--spacing-4);
}

footer {
  position: relative;
  margin-left: 0;
  bottom: auto;
  left: auto;
  text-align: center;
  width: 100%;
}